<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign-up</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <!--name-->
    <div class="mb-6">
      <label for="name" class="block mb-2 text-sm font-medium">Nombre</label>"
      <input type="name" id="name" name="name" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="nombre" required #name="ngModel"/>
    </div>
    <!--apellidos-->
    <div class="mb-6">
      <label for="apellodp" class="block mb-2 text-sm font-medium">apellido</label>"
      <input type="name" id="apellido" name="apellido" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="apellidos" required #apellido="ngModel"/>
    </div>
    <!--matricula-->
    <div class="mb-6">
      <label for="matricula" class="block mb-2 text-sm font-medium">matricula</label>"
      <input type="name" id="matricula" name="matricula" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="matricula" required #matricula="ngModel"/>
    </div>
    <!--email-->
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email adress</label>
      <input type="email" id="email" name="email" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg"
      placeholder="john.doe@company.com" required #email="ngModel"/>
      <div *ngIf="email.invalid && email.touched" style="color: red;">Please enter a valid email address</div>
    </div>
    <!--password-->
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium">Password</label>"
      <input type="password" id="password" name="password" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="*********" required #password="ngModel"/>
    </div>

    <!--calificacion DAMM-->
    <div class="mb-6">
      <label for="DAMM--" class="block mb-2 text-sm font-medium">Calificacion DAMM</label>"
      <input type="name" id="DAMM" name="DAMM" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="DAMM" required #DAMM="ngModel"/>
    </div>
    <!--Calificacion OCA -->
    <div class="mb-6">
      <label for="OCA" class="block mb-2 text-sm font-medium">Calificacion OCA</label>"
      <input type="OCA" id="OCA" name="OCA" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="OCA" required #OCA="ngModel"/>
    </div>
    <!--Calificacion MATE-->
    <div class="mb-6">
      <label for="MATE" class="block mb-2 text-sm font-medium">Calificacion MATE</label>"
      <input type="name" id="MATE" name="MATE" ngModel
      class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
      placeholder="MATE" required #MATE="ngModel"/>
    </div>
  <!--calificacion PMP--->
  <div class="mb-6">
    <label for="PMP" class="block mb-2 text-sm font-medium">Calificacion PMP</label>"
    <input type="name" id="PMP" name="PMP" ngModel
    class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
    placeholder="PMP" required #PMP="ngModel"/>
  </div>
  <!--Calificacion M3D-->
  <div class="mb-6">
    <label for="M3D" class="block mb-2 text-sm font-medium">Calificacion m3d</label>"
    <input type="name" id="M3D" name="M3D" ngModel
    class="bg-gray-50 border border-gray-300 text-gray-900 text0sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3"
    placeholder="M3D" required #M3D="ngModel"/>
  </div>
    <!--boton-->
    <button type="submit"
    class="text-white bg-blue-700"
    [disabled]="loginForm.invalid">Crear</button>
  </form>
  <button (click)="onSignUp()"
  class="text-white bg-blue-700">
go to login
</button>
</ion-content>  
</ion-content>

