<ion-header>
  <ion-toolbar>
    <ion-title>Editar Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Matrícula</ion-label>
      <ion-input formControlName="matricula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="correo"></ion-input>
    </ion-item>

    <ion-item *ngFor="let field of ['damm','oca','mate','pmp','m3d']">
      <ion-label position="floating">{{ field.toUpperCase() }}</ion-label>
      <ion-input type="number" formControlName="{{field}}"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="studentForm.invalid">Guardar Cambios</ion-button>
  </form>
</ion-content>
